<h1>New Car</h1>

<div class="row information">
  <%= form_for @car do |f| %>

  <p>
    <%= f.label :make %><br>
    <%= f.text_field :make %>
  </p>

  <p>
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </p>

  <p>
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </p>

  <p>
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </p>

  <p>
    <%= f.label :mileage %><br>
    <%= f.text_field :mileage %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>

    <%= f.submit 'Submit Car', class: "button" %>

  <% end %>
</div>
