<h1>New Car</h1>

<div class="row information">
  <%= form_for @car do |c| %>

  <p>
    <%= c.label :manufacturer %><br>
    <%= c.text_field :manufacturer %>
  </p>

  <p>
    <%= c.label :color %><br>
    <%= c.text_field :color %>
  </p>

  <p>
    <%= c.label :year %><br>
    <%= c.text_field :year %>
  </p>

  <p>
    <%= c.label :milage %><br>
    <%= c.text_field :milage %>
  </p>

  <p>
    <%= c.label :description %><br>
    <%= c.text_field :description %>
  </p>

    <%= c.submit 'Submit Car', class: "button" %>

  <% end %>
</div>
